/* Components
   ==========
   Styles for page elements and custom components.
   Contents:
    - Forms
    - Lists

*/


/* ==========================================================================
   Forms
   ========================================================================== */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}


/* ==========================================================================
   Lists
   ========================================================================== */

.tabular-list-wrap {
    border-width: 0 0 0 1px;
    margin-bottom: 2em;
    overflow: hidden;
    width: auto;

    &, ol, li {
        border-style: solid;
        border-color: $colInk1;
    }    
    ol {
        border-width: 1px 0 0;
        float: left;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        min-width: 60px;
        // Responsive dimensions are also defined in breakpoint SASS files

        li {
            border-style: solid;
            border-width: 0 1px 1px 0;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
            // Responsive dimensions are also defined in breakpoint SASS files

            &.list-header {
                background-color: $colShadeLight;
                font-weight: 600;
            }
            &.has-multiple {
                padding-right: 1.25em;
                position: relative;
            }
            .multiple-counter {
                position: absolute;
                right: 5px;
                // Responsive dimensions are also defined in breakpoint SASS files
            }
        }
    }
}
