/* Variables
   =========
   All variables used throughout SASS files.

   Contents:
    - Colours

*/


/* ==========================================================================
   Colours
   ========================================================================== */
   
$colHighlightBright: #ff9;
$colHighlightError: #f99;
$colHighlightConfirmation: #9f9;
$colShadeLight: #ffc;
$colInk1: #222;


/* ==========================================================================
   Animation
   ========================================================================== */
   
$animationBaseSpeed: 0.5s;